<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="airslip" value="https://nuget.pkg.github.com/airslip-ltd/index.json" />
	</packageSources>
	<github>
		<add key="Username" value="tjmcdonough" />
		<add key="ClearTextPassword" value="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" />
	</github>
</configuration>